<!--<h1>New Transaction</h1>-->

<%#= render 'form', transaction: @transaction %>

<%#= link_to 'Back', transactions_path %>
<div class="columns is-centered mt-6">
  <div class="column is-one-third">
    <h1 class="is-size-2 has-text-weight-bold mb-3"> Editing Transaction</h1>
    <%= render 'form', transaction: @transaction %>

    <%= link_to 'Show', @transaction %> |
    <%= link_to 'Back', transactions_path %>
  </div>

</div>



